---

import BasicLayout from "../layout/BasicLayout.astro";

---

<BasicLayout title="Home Page">
	<h1 class="text-4xl font-bold text-amber-500">Welcome to Astro!</h1>
	<p>This is the home page..</p>
</BasicLayout>




